.hero {
  text-align: center;
  padding: 80px 20px;
  height: 80vw;
}

.button {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  background: var(--accent);
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
