.hero {
  text-align: center;
  padding: 80px 20px;
  height: 80vw;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 20px;
  padding: 12px 20px;
  max-width: 320px;
  border-radius: 8px;
  background: var(--accent);
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
