:root {
  --bg: #efefef;
  --panel-bg: #e6e6e6;
  --muted: #9aa6b2;
  --accent: #04b751;
  --white-text-color: #ffffff;
  --dark-text-color: #171717;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background: var(--bg);
  color: var(--dark-text-color);
}
