.panel {
  width: 340px;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: var(--panel-bg);
  padding: 16px;
  border-radius: 12px;
}

.toolbarContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.control {
  display: flex;
  gap: 8px;
  align-items: center;
}

.select {
  width: 80px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 6px;
  border-radius: 8px;
  color: var(--white-text-color);
  font-size: 13px;
}

.colorInput {
  padding: 3px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.rangeInput {
  width: 140px;
}

.button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 8px;
  color: var(--white-text-color);
  cursor: pointer;
  font-size: 13px;
}

.exportBtn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-text-color);
}

.clearBtn {
  background: var(--danger-btn-color);
  border: 1px solid var(--danger-btn-color);
  color: var(--white-text-color);
}

.toolbarRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
